<!doctype html>
<html lang="en">
<head>
<title>Writing with yaml example</title>
<style>
      table {
        border: 1px solid black;
      }
      th, td {
        border: 1px solid black;
        left: 10px;
        }  
</style>      
</head>
<body>
<p>You Set Benefit Goals</p>
<form method = 'GET'>
<table id='javaT'>

	<tr>
          <th>Reduction In:</th>
          <th>Benefits if We Do Everything</th>
          <th>You Set Benefit Goals</th>
          <th>Benefits Actually Achieved</th>
    </tr>
	<tr>
		<td>Runoff (million gal.)</td>
		<td style='text-align:center;'>693</td>
		<td>{{ run.as_p }}</td>
		<td id='run' style='text-align:center;'></td>
	</tr>
	<tr>
		<td>Sediment (tons)</td>
        <td style='text-align:center;'>844</td>
		<td>{{ sed.as_p }}</td>
		<td id='sed' style='text-align:center;'></td>
	</tr>
	<tr>
		<td>Nitrogen (lbs.)</td>
        <td style='text-align:center;'>9207</td>
		<td>{{ nit.as_p }}</td>
		<td id='nit' style='text-align:center;'></td>
	</tr>
	<tr>
		<td>Phosphorous (lbs.)</td>
        <td style='text-align:center;'>1168</td>
		<td>{{ phos.as_p }}</td>
		<td id='phos' style='text-align:center;'>
          </td>
	</tr>
</table>
	<input type='submit' align ='bottom' value='Minimize'>
</form>
<button onclick="myFunction();">Display</button>
{% if messages %}
{% for message in messages %}
<p> Total Cost: ${{ message }} Million </p>
{% endfor %}
{% endif %}

<script>
function myFunction() {
          var x = document.getElementById("javaT");
          var array1 = {{ array1|safe }};
          document.getElementById('run').innerHTML = array1[0].toFixed(2);
          document.getElementById('sed').innerHTML = array1[1].toFixed(2);
          document.getElementById('nit').innerHTML = array1[2].toFixed(2);
          document.getElementById('phos').innerHTML = array1[3].toFixed(2);
      }
</script>
</body>
</html>